@page
@model workday.Pages_VacationRequest.IndexModel

@{
    ViewData["Title"] = "Wnioski urlopowe";
}


<div class="container">

    <h2>Wnioski do zaakceptowania</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.VacationRequest[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VacationRequest[0].DateOfRequest)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VacationRequest[0].From)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VacationRequest[0].To)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.VacationRequest)
            {
                if (item.status.Equals(false))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateOfRequest)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.From)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.To)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.ID">Zaakceptuj</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <h2>Stare Wnioski</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.VacationRequest[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VacationRequest[0].DateOfRequest)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VacationRequest[0].From)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VacationRequest[0].To)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.VacationRequest)
            {
                if (item.status.Equals(true))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateOfRequest)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.From)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.To)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>