@page
@model workday.Pages_Employees.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">

<h1>Profil użytkownika: @Model.Employee.Name</h1>

<div>  
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Position)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Salary)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Employee.ID">Edytuj dane użytkownika</a> |
    <a asp-page="./Index">Wróć do listy</a>
</div>
</div>
